## Libs

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from utils import type_cols, miss_vars, check_low_categorical

## Import

In [2]:
# importando a base de dados
df = pd.read_excel('data/raw/Customer_Churn.xlsx',
                    index_col = 'customerID')

numeric_cols, object_cols = type_cols(df)
df.shape

(7043, 20)

In [16]:
# Nossa variavel resposta eh chamada de Churn
df.Churn.value_counts(normalize = True)

Churn
No     0.73463
Yes    0.26537
Name: proportion, dtype: float64

## Check variaveis numericas

In [3]:
miss_vars(df)

TotalCharges    11
dtype: int64

In [46]:
# Como temos a tenure igual a 0 em todos os casos quando o totalcharges e null, 
# entao vamos considerar o TotalCharges como 0 nestes casos,
# pois nunca tivemos nenhum pagamento destes clientes
df[df.TotalCharges.isna()].tenure

customerID
5709-LVOEQ    0
4075-WKNIU    0
2775-SEFEE    0
1371-DWPAZ    0
4472-LVYGI    0
4367-NUYAO    0
3213-VVOLG    0
3115-CZMZD    0
2520-SGTTA    0
7644-OMVMY    0
2923-ARZLG    0
Name: tenure, dtype: int64

In [96]:
df[numeric_cols].corr(method = 'spearman')
#dropar toalchargers, pois tem relacao com monthl e tenure

                SeniorCitizen    tenure  MonthlyCharges  TotalCharges
SeniorCitizen        1.000000  0.018556        0.221067      0.107248
tenure               0.018556  1.000000        0.276417      0.889177
MonthlyCharges       0.221067  0.276417        1.000000      0.638032
TotalCharges         0.107248  0.889177        0.638032      1.000000

## Check variaveis Categoricas

In [4]:
#verificar se existe alguma categoria com poucas observacoes
check_low_categorical(df, object_cols, 0.05)

AssertionError: Nenhuma coluna possui categoria com menos de 5.0%

In [97]:
df.Contract.value_counts(normalize = True)

Contract
Month-to-month    0.550192
Two year          0.240664
One year          0.209144
Name: proportion, dtype: float64