## Libs

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from utils import type_cols, miss_vars, check_low_categorical

## Import

In [2]:
# importando a base de dados
df = pd.read_excel('data/raw/Customer_Churn.xlsx',
                    index_col = 'customerID')

numeric_cols, object_cols = type_cols(df)
df.shape

(7043, 20)

In [16]:
# Nossa variavel resposta eh chamada de Churn
df.Churn.value_counts(normalize = True)

Churn
No     0.73463
Yes    0.26537
Name: proportion, dtype: float64

## Check variaveis numericas

In [3]:
miss_vars(df)

TotalCharges    11
dtype: int64

In [46]:
# Como temos a tenure igual a 0 em todos os casos quando o totalcharges e null, 
# entao vamos considerar o TotalCharges como 0 nestes casos,
# pois nunca tivemos nenhum pagamento destes clientes
df[df.TotalCharges.isna()].tenure

customerID
5709-LVOEQ    0
4075-WKNIU    0
2775-SEFEE    0
1371-DWPAZ    0
4472-LVYGI    0
4367-NUYAO    0
3213-VVOLG    0
3115-CZMZD    0
2520-SGTTA    0
7644-OMVMY    0
2923-ARZLG    0
Name: tenure, dtype: int64

In [47]:
# inicialmente pensamos que as variaveis eram correlacionadas,
# porem calculando a correlação vemos que não são tão correlacionadas
df[['TotalCharges','MonthlyCharges']].corr(method = 'spearman')

                TotalCharges  MonthlyCharges
TotalCharges        1.000000        0.638032
MonthlyCharges      0.638032        1.000000

## Check variaveis Categoricas

In [4]:
check_low_categorical(df, object_cols, 0.05)

AssertionError: Nenhuma coluna possui categoria com menos de 5.0%

In [5]:
df[object_cols].describe().T

                 count unique               top  freq
gender            7043      2              Male  3555
Partner           7043      2                No  3641
Dependents        7043      2                No  4933
PhoneService      7043      2               Yes  6361
MultipleLines     7043      3                No  3390
InternetService   7043      3       Fiber optic  3096
OnlineSecurity    7043      3                No  3498
OnlineBackup      7043      3                No  3088
DeviceProtection  7043      3                No  3095
TechSupport       7043      3                No  3473
StreamingTV       7043      3                No  2810
StreamingMovies   7043      3                No  2785
Contract          7043      3    Month-to-month  3875
PaperlessBilling  7043      2               Yes  4171
PaymentMethod     7043      4  Electronic check  2365
Churn             7043      2                No  5174